:root {
    --main-color: #dcf29d;
    --second-color: #1b1233;
}

body {
    background-color: var(--main-color);
    color: var(--second-color);
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#boton-abajo {
    height: 65px;
    width: 65px;
    border-radius: 100%;
    background-color: var(--main-color);
    border-color: var(--second-color);
    border-width: 5px;
    box-shadow: 4px 4px var(--second-color);
}

#boton-abajo-svg {
    height: 50px;
    width: 50px;
}

#rol {
    font-family: "Bakbak One"
}

#rol span {
    font-family: "Atomic Age"
}

a {
    text-decoration: none;
    background-color: var(--second-color);
    color: var(--main-color);
}

a:hover {
    background-color: var(--main-color);
    color: var(--second-color);
}
